
/* .fixed {
	position: fixed;
	background-color: red;
	z-index: 99;
} */

/* 최상단 메뉴바 시작 */
h1#OPMainName  {
	background-image: url("../images/barbackground.png");
	font-size: 50pt; 
	font-weight: bold; 
	text-align: center;
	color: white;
	height: 206px;
	padding: 61px 0;
}

div#OPMenu {
    float: right;
    position: relative;
    top: -57px;
}

a#OPLine {
	font-size:15pt; 
	color:#ffffff; 
	margin-left: 18px;
}

button#dropdownMenuButton {
	background: none;
	border: none;
	margin-right: 300px;
	font-size: 16pt;
}
/* 최상단 메뉴바 끝 */



/* 메인메뉴 시작 */
div#OPAllMain {
	margin: 130px 50px;
}

div#OPContainer {
	margin: 28px 300px;
	height: 500px;
}

img.OPSellImg {
	float: left;
	width: 600px;
	height: 430px;
	border-radius: 30px;
}

div.OPContent {
	display: block;
	float: left;
	margin: 108px auto;
}

a#OPClassUpdate {
	color: red;
}

h1#OPClassName {
	margin-bottom: 30px;
	font-weight: bold;
}

.fa-solid fa-heart {
	color: #ff0000;
}

i#heart {
	margin-left: 13px;
	font-size: 20pt;
	
	position: relative;
	top: -5px;
}

div#OPClassDate {
	margin-bottom: 5px;
}

div#OPClassDate > a:nth-child(1),
div#OPClassStatus > a:nth-child(1) {
	font-size: 13pt;
	margin: 0 10px;
	font-weight: bold;
}


button#OPPreButton {
	margin-top: 16px;
	border-radius: 30px;
	width: 128px;
	height: 52px;
	color: white;
	font-size: 13pt;
	background-color: #1bceb8;
	border: none;
}


/* 메인메뉴 끝 */



/* 강의 가격 시작 */
div#OPPriceTable {
	display: block;
	border-radius: 20px;
	background-color: #f2f2f2;
	margin: 10px auto;
	height: 271px;
	clear:both;
}

span.badge-secondary {
	border: solid 1px #f2f2f2;
	background-color: white;
	color: black;
	width: 57px;
	height: 32px;
	padding: 10px;
	border-radius: 10px;
	margin: 0 2px 0 16px;
}

div#OPPriceTitle {
	background-color: white;
	border-radius: 10px;
	margin: 10px auto;
	position: relative;
	top: 17px;
	padding: 18px 39px;
}

input#OPCheckbox {
	height: 20px;
	width: 20px;
	position: relative;
	top: 4px;
}

div#OPPrice {
	margin: 52px -43px;
	text-align: right;
	width: 100%;
	height: 0;
}

div#OPAllPrice {
	margin: 33px -43px;
	text-align: right;
	width: 100%;
}
/* 강의 가격 끝 */




/* 하단 버튼 시작 */
ul.navbar-nav {
	margin: 0 auto;
}

button#OPShoppingbag {
	padding: 0 10px;
	margin : 16px 30px;
	width: 190px;
	height: 65px;
	border-radius: 50px;
	font-size: 14pt;
	background-color: white;
	border: solid 1px #1bceb8;
	color: #1bceb8;
}

button#OPCosRegister {
	margin : 16px 0;
	width: 190px;
	height: 65px;
	border-radius: 50px;
	font-size: 14pt;
	background-color: #1bceb8;
	border: solid 1px #1bceb8;
	color: white;
}
/* 하단 버튼 끝 */




/* 상단 메뉴 시작 */
.OPMenuSemi {
	border: solid 2px #f2f2f2;
	text-align: center;
	margin: 50px 300px;
	height: 80px;
	padding: 28px 0;
	border-radius: 10px;
	font-size: 14pt;
}
/* 상단 메뉴 끝 */




/* 메인 이미지 시작 */
img.OPCosContentImg {
	display: block;
	margin: 0 auto;
}
/* 메인 이미지 끝 */



/* 아코디언 시작 */
div#OPCosList {
	max-width: 1196px;
}

h4#OPCosListSubTitle {
	margin: 32px 0 25px 11px;
	font-weight: bold;
}

div#OPOT {
  padding: 11px 18px;
  background-color: #ebfaf6;
  border: solid 1px lightgray;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid 1px lightgray;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible_before {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid 1px lightgray;
  border-radius: 10px;
 /*  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsibleContent {
  padding: 15px 18px 6px 18px;
  display: none;
  overflow: hidden;
  background-color: #ebfaf6;
  color: black;
  border: solid 1px lightgray;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.active, .collapsible:hover {
  cursor: pointer;
}

/* 아코디언 끝 */




/* 수강후기 시작 */
div#OPCosReview {
	max-width: 1196px;
}


h4#OPCosReviewTitle {
	font-weight: bold; 
	margin: 32px 0 25px 11px;
}

i.OPUserIcon {
	margin-left: 50px;
	margin-right: 10px;
}

a.OPReviewWritingDay {
	margin-left: 50px;
	margin-bottom: 10px;
	color: black;
}

div.OPCosReviewStar {
	margin-bottom: 20px;
}

div.OPCosReviewSmallTitle {
	margin-bottom: 5px;
	font-size: 15pt;
	font-weight: bold;
}

div.OPCosReviewPlus {
	margin-top: 40px;
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}

div.OPCosReviewHideMethod {
	margin-top: 40px;
}

div.OPCosReviewHide {
	margin-top: 20px;
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}
/* 수강후기 끝 */



/* 기타 공통 시작 */
.nav-menu{
	border: solid 2px #f2f2f2;
	text-align: center;
	height: 80px;
	padding: 28px 0;
    background-color: white;
    position: fixed;
    top: 0;
   /*  left: 402px; */
    width: 1101px;
    border-radius: 10px;
    font-size: 14pt;
    display: block;
    margin: 0 auto;
}

.OPFont_change {
	font-weight: bold;
	color:#00b377;
	font-style: oblique;
}


.OPCursor {
	cursor: pointer;
}

/* 기타 공통 끝 */
/* 
p#cosListSubject {
	border: solid 1px gray;
    background-color: lightgray;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 0 300px;
} */
