@charset "utf-8";

/* 상단메뉴 우측 정렬 */
#gnb {width:51.1%;max-width:704px;}
#gnb ul {float:right;}

/* 푸터 소개, 찾아오는길 제거 */
#footer .foot_top a:first-child {display:none;}
#footer .foot_top a:last-child {display:none;}

.cv_info_wrap {width:100%;padding:0px;margin:0px;text-align:center;}
.cv_info {width:100%;padding:0px;margin:0px;text-align:center; background-size:auto 100% !important;}
.cv_info img {width:auto;max-width:100%;height:inherit;}
.cv_info.cv01 {background:url('/html/images/cv/cv_01_bg.png') 50% 0% no-repeat; }
.cv_info.cv02 {background:url('/html/images/cv/cv_02_bg.png') 50% 0% no-repeat;}
.cv_info.cv03 {background:url('/html/images/cv/cv_03_bg.png') 50% 0% no-repeat;background-size:cover !important;padding-bottom:150px;}
.cv_info.cv04 {background:#fff;}
.cv_info.cv05 {background:#ddd;padding:100px 0px; }
.cv_info.cv06 {background:#000;padding-bottom:80px;}

.cv_info ul {width:100%;max-width:1300px;margin:0px auto; display:flex;}
.cv_info li {float:left;width:100%;}
.cv_info li img {max-width:100%;}

.cv_media_wrap {width:90%;max-width:860px;margin:0px auto;}
.cv_media {position:relative;width:100%;height:auto;padding-bottom:56.5%;}
.cv_media iframe{position:absolute;left:0;top:0;width:100%;height:100%;padding:0px;border:none;}

.cv_info.cv06 .cv_media_wrap {padding-bottom:100px;}

.cv_btn {position:relative;width:100%;height:auto;margin-bottom:100px;}
.cv_btn img {max-width:100%;}

.popcv_layout { font-family:'noto_sans'; width:100%; height:100%;position:fixed; left:0px; top:0px; background:rgba(0,0,0,0.7); z-index:1000; }
.popcv_layout .popcv_close { position:fixed; right:20px; top:20px; width:30px;height:30px;}
.popcv_layout .popcv_close:before {content:'×'; font-size:30px;color:#fff;}

.popcv {position:fixed; left:0%; top:50%; width:100%;text-align:center;transform:translateY(-50%);display:inline-block;height:100%;max-height:740px;}
.popcv ul {width:70%;max-width:700px;display:inline-block;margin:auto;overflow:hidden; height:auto;}
.popcv li { width:100%;display:inline-block;position:relative;vertical-align:middle;text-align:center;}
.popcv li img {display:block;width:94%;height:auto;margin:0px 3%;}

.arrow_left, 
.arrow_right {display:inline-block;position:absolute;top:50%;left:50%;width:100px;height:100px;transform:translateY(-50%);background-size:cover !important; border-radius:50%;box-sizing:border-box;z-index:1001;}
.arrow_left  {margin-left:-500px;background:#91d300 url('/html/images/cv/arrow_left.png') 50% 50% no-repeat;}
.arrow_right {margin-left:400px;background:#91d300 url('/html/images/cv/arrow_right.png') 50% 50% no-repeat;}
.arrow_left:hover, 
.arrow_right:hover {opacity:0.8;} 
.slick-arrow {display: block;}
.slick-disabled {display: none !important;}

#pop_cv2 .arrow_left, 
#pop_cv2 .arrow_right {background-color:#2ce6ff !important;}


@media all and (max-width:1300px) {
	.cv_info.cv03 {padding-bottom:11%;}
	.cv_info.cv05 {padding:10% 0px; }
	.cv_info.cv06 {padding-bottom:8%;}
	.cv_info.cv06 .cv_media_wrap {padding-bottom:10%;}

	.cv_btn {margin-bottom:10%;}
}

@media all and (max-width:1200px) {
	.popcv {height:74vw;}
	.arrow_left, 
	.arrow_right {width:8vw;height:8vw;margin:0px !important;}
	.arrow_left  {left:5%;}
	.arrow_right {left:auto;right:5%;}
}