
.star .svg.Bg_svg {filter:invert(34%) sepia(91%) saturate(2612%) hue-rotate(128deg) brightness(105%) contrast(79%) !important;}
/*.star .svg.Bg_svg {filter: invert(63%) sepia(41%) saturate(2580%) hue-rotate(127deg) brightness(104%) contrast(79%) !important;}*/
.wish .svg.Bg_svg {filter: invert(63%) sepia(41%) saturate(2580%) hue-rotate(127deg) brightness(104%) contrast(79%);}

.bgColor {background-color:#1bceb8 !important;}
.pointBorder {border:1px solid #1bceb8 !important;}
.pointColor {color:#1bceb8 !important;}

li.active > a {color:#1bceb8 !important;font-weight:bold;}

ul li div.page_number_btn_on {background-color:#1bceb8 !important;border:1px solid #1bceb8 !important;}

.label {background:#1bceb8;}

.sub_imgbox .slick-dots li.slick-active {background-color:#1bceb8;}
.banner .slick-dots li.slick-active {background-color:#1bceb8;}

.grayBox {background-color:#f3f7f8 !important;}
.grayBox_light {background-color:rgba(248,249,252,0.5) !important;}
.list_bgColor {background-color:#99cac4 !important;}

.depth li a::after {filter: invert(63%) sepia(41%) saturate(2580%) hue-rotate(127deg) brightness(104%) contrast(79%) !important;}

.search_in li input[type="checkbox"]:checked + label {background-color:#1bceb8;}


a::after {background:#1bceb8;}
a::before {background:#1bceb8;}

li a::after {background:#1bceb8;}
li a.mPS2id-highlight {color:#1bceb8;}

 

.imgCont ul li.hover {border:3px solid #1bceb8; transition:all 0.3s;}


.bar {border: 0.08em solid #1bceb8;}

dl.white a::after {background:#1bceb8 url('/theme/6/img/mypage/main/moreArrow.png')no-repeat center !important;}

.loca_cont a.home {background:#1bceb8 !important;}
.login_cont {border:10px solid #f3f7f8;}